In [51]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

# NC 다이노스 선수 데이터 분석
## 1. 데이터 적재 및 통합

In [79]:
data = pd.read_excel('data/NC Dinos.xlsx',sheet_name=None)
NC13, NC14, NC15 = data.values()

In [80]:
NC13['연도'] = 2013
NC14['연도'] = 2014
NC15['연도'] = 2015

In [81]:
NC13.drop('Unnamed: 0',axis=1,inplace = True)
NC14.drop('Unnamed: 0',axis=1,inplace = True)
NC15.drop('Unnamed: 0',axis=1,inplace = True)

In [82]:
NCAll = pd.concat([NC13,NC14,NC15],axis=0,ignore_index=True)

In [83]:
NCAll.head()

,선수명,팀명,경기,타석,타수,안타,홈런,득점,타점,볼넷,삼진,도루,BABIP,타율,출루율,장타율,OPS,wOBA,WAR,연도
0,모창민,NC,108,436,395,109,12,57,51,37,68,16,0.307,0.276,0.339,0.443,0.782,0.353,2.31,2013
1,이호준,NC,126,508,442,123,20,46,87,60,109,2,0.324,0.278,0.362,0.475,0.837,0.373,1.85,2013
2,김종호,NC,128,546,465,129,0,72,22,57,100,50,0.352,0.277,0.376,0.333,0.709,0.339,1.55,2013
3,나성범,NC,104,458,404,98,14,55,64,33,95,12,0.279,0.243,0.319,0.416,0.735,0.329,1.50,2013
4,조영훈,NC,120,426,380,107,6,38,39,39,56,4,0.316,0.282,0.350,0.413,0.763,0.348,0.83,2013

## 2. 2015년도 선수 기록을 '타율'로 내림차순 정렬

In [84]:
NC15.sort_values(by='타율',ascending=False)

,선수명,팀명,경기,타석,타수,안타,홈런,득점,타점,볼넷,삼진,도루,BABIP,타율,출루율,장타율,OPS,wOBA,WAR,연도
0,테임즈,NC,142,595,472,180,47,130,140,103,91,40,0.390,0.381,0.497,0.790,1.287,0.520,11.73,2015
12,박정준,NC,19,24,21,8,0,2,2,0,5,0,0.500,0.381,0.458,0.476,0.934,0.417,0.25,2015
14,조평호,NC,22,22,22,8,1,4,3,0,6,0,0.467,0.364,0.364,0.591,0.955,0.401,0.18,2015
1,나성범,NC,144,622,564,184,28,112,135,33,127,23,0.374,0.326,0.373,0.553,0.926,0.390,4.46,2015
2,박민우,NC,141,617,520,158,3,111,47,73,108,46,0.373,0.304,0.399,0.404,0.803,0.364,3.52,2015
4,김종호,NC,133,486,424,125,4,90,36,44,65,41,0.338,0.295,0.364,0.394,0.758,0.340,1.03,2015
3,이호준,NC,131,518,449,132,24,48,110,61,102,0,0.332,0.294,0.381,0.510,0.891,0.381,2.19,2015
8,모창민,NC,103,239,214,62,6,23,35,18,52,5,0.352,0.290,0.340,0.439,0.779,0.340,0.76,2015
10,용덕한,NC,50,49,42,12,0,4,5,5,8,2,0.353,0.286,0.375,0.310,0.685,0.326,0.44,2015
5,조영훈,NC,103,146,124,35,8,20,35,19,36,3,0.329,0.282,0.372,0.540,0.912,0.389,1.00,2015
7,이종욱,NC,125,504,440,118,5,63,52,54,78,17,0.315,0.268,0.351,0.368,0.719,0.322,0.84,2015
9,지석훈,NC,137,466,415,111,11,53,46,23,85,4,0.311,0.267,0.328,0.383,0.711,0.317,0.51,2015
13,김태군,NC,144,474,421,107,6,45,52,25,77,1,0.293,0.254,0.307,0.354,0.661,0.294,0.25,2015
11,최재원,NC,114,102,85,21,2,31,13,10,29,14,0.352,0.247,0.366,0.412,0.778,0.350,0.30,2015
6,손시헌,NC,140,508,440,108,13,56,58,36,66,3,0.260,0.245,0.319,0.398,0.717,0.316,0.85,2015
16,김준완,NC,30,54,44,10,0,12,2,10,10,2,0.294,0.227,0.370,0.227,0.597,0.308,-0.04,2015
17,강구성,NC,4,5,5,1,0,0,0,0,0,0,0.200,0.200,0.200,0.400,0.600,0.242,-0.04,2015
15,이창섭,NC,15,8,5,0,0,0,0,3,3,0,0.000,0.000,0.375,0.000,0.375,0.286,-0.01,2015
18,강민국,NC,1,2,2,0,0,0,0,0,1,0,0.000,0.000,0.000,0.000,0.000,0.000,-0.06,2015
19,김태진,NC,1,3,3,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0.000,0.000,-0.09,2015

In [85]:
# 타석 수가 200 이상인 타자를 대상으로 타율 순으로 내림차순
NC15[NC15.타석 >= 200].sort_values(by=['타율','안타'],ascending=[False,False])

,선수명,팀명,경기,타석,타수,안타,홈런,득점,타점,볼넷,삼진,도루,BABIP,타율,출루율,장타율,OPS,wOBA,WAR,연도
0,테임즈,NC,142,595,472,180,47,130,140,103,91,40,0.390,0.381,0.497,0.790,1.287,0.520,11.73,2015
1,나성범,NC,144,622,564,184,28,112,135,33,127,23,0.374,0.326,0.373,0.553,0.926,0.390,4.46,2015
2,박민우,NC,141,617,520,158,3,111,47,73,108,46,0.373,0.304,0.399,0.404,0.803,0.364,3.52,2015
4,김종호,NC,133,486,424,125,4,90,36,44,65,41,0.338,0.295,0.364,0.394,0.758,0.340,1.03,2015
3,이호준,NC,131,518,449,132,24,48,110,61,102,0,0.332,0.294,0.381,0.510,0.891,0.381,2.19,2015
8,모창민,NC,103,239,214,62,6,23,35,18,52,5,0.352,0.290,0.340,0.439,0.779,0.340,0.76,2015
7,이종욱,NC,125,504,440,118,5,63,52,54,78,17,0.315,0.268,0.351,0.368,0.719,0.322,0.84,2015
9,지석훈,NC,137,466,415,111,11,53,46,23,85,4,0.311,0.267,0.328,0.383,0.711,0.317,0.51,2015
13,김태군,NC,144,474,421,107,6,45,52,25,77,1,0.293,0.254,0.307,0.354,0.661,0.294,0.25,2015
6,손시헌,NC,140,508,440,108,13,56,58,36,66,3,0.260,0.245,0.319,0.398,0.717,0.316,0.85,2015

## 3.  (실습) 2013~2015년  선수별로 3년 간 평균 안타수를 구한 후, 평균 안타수가 가장 많은 상위 10명의 선수를 출력

In [86]:
top10 = NCAll.pivot_table(index='선수명',
                          aggfunc='mean',
                          values='안타').sort_values(by='안타',
                                                    ascending=False).head(10)
top10

             안타
선수명
테임즈  166.000000
나성범  146.333333
김종호  127.000000
이호준  123.333333
이종욱  122.000000
김태군  107.000000
손시헌   99.000000
박민우   97.666667
모창민   93.666667
지석훈   79.000000

In [87]:
# 선수별로 실제 뛴 시즌의 수와 3년 동안 친 전체 안타수 추가
# 사실 계층 색인이라 이걸 굳이 계층 색인으로 처리할 필요없어서 단층으로
data = NCAll.pivot_table(index='선수명',aggfunc=['mean','count','sum'],values='안타')
data.columns = ['평균안타수','참여시즌수','전체안타수']
data.sort_values(by='평균안타수',ascending=False).head()

          평균안타수  참여시즌수  전체안타수
선수명
테임즈  166.000000      2    332
나성범  146.333333      3    439
김종호  127.000000      2    254
이호준  123.333333      3    370
이종욱  122.000000      2    244

## 4. (실습) 3에서 구한 상위 10명의 타자들의 3년간 안타, 홈런, 타율을 출력

In [88]:
top10_3year = NCAll[['선수명','연도','안타','홈런','타율']]
top10_3year.set_index(['선수명','연도'],inplace=True)
top10_3year = top10_3year.unstack('연도')
top10_3year.loc[top10.index].fillna('-').sort_values(by='선수명')

      안타               홈런                타율
연도  2013 2014   2015 2013 2014  2015   2013   2014   2015
선수명
김종호  129    -  125.0    0    -   4.0  0.277      -  0.295
김태군    -    -  107.0    -    -   6.0      -      -  0.254
나성범   98  157  184.0   14   30  28.0  0.243  0.329  0.326
모창민  109  110   62.0   12   16   6.0  0.276  0.263  0.290
박민우   11  124  158.0    0    1   3.0  0.262  0.298  0.304
손시헌    -   90  108.0    -    5  13.0      -  0.293  0.245
이종욱    -  126  118.0    -    6   5.0      -  0.288  0.268
이호준  123  115  132.0   20   23  24.0  0.278  0.271  0.294
지석훈   68   58  111.0    3    6  11.0  0.220  0.274  0.267
테임즈    -  152  180.0    -   37  47.0      -  0.343  0.381

## 5. (실습) 년도별 팀의 기록 (총 안타수, 총 홈런수, 총 도루수)을 출력

In [93]:
nc_total = NCAll.pivot_table(index='연도',aggfunc='sum',values=['안타','홈런','도루'])
nc_total

       도루    안타   홈런
연도
2013  133   814   63
2014  118  1039  139
2015  201  1380  158

##  (심화) 조건 추가. 팀 타율도 함께 출력 
### 팀 타율은 선수 타율의 평균으로 가정

In [92]:
NCAll.pivot_table(index='연도',aggfunc='sum',values=['안타','홈런','도루'])

       도루    안타   홈런
연도
2013  133   814   63
2014  118  1039  139
2015  201  1380  158

## 추가 실습. 삼진을 잘 당하지 않는 타자 Top3  찾아내기
### 타석수가 100개/년 이상인 기록만 활용